= javascript_pack_tag 'label_input'
#task-form.field
  = render 'shared/forms/label', form: form, attr: attr, label: label
  <tags-input default-tags="#{default_tags}" placeholder="#{placeholder}"></tags-input>
