= javascript_pack_tag 'label_input'
#task-form.field
  = render partial: 'shared/forms/label', locals: { form: form, attr: attr, label: label }
  <tags-input default-tags="#{default_tags}"></tags-input>
